<div class="containar">
    <div class="row">
        <div class="table-responsive,col-lg-12">
        	 <%= attachment_image_tag @team, :team_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
        	<table class="table">
        		<tr>
                    <td><%= @team.name %></td>
        			<td><%= @team.team_score %></td>
			 	</tr>
			</table>

    	</div>
  	</div>
</div>
