<% if message.customer == current_customer %>
    <div class="line__right">
<% else %>
    <div class="line__left">
<% end %>
  <%# 投稿者を特定できるようにメールアドレスを表示させておく %>
  <p><%= "#{message.customer.last_name}: #{message.content}" %></p>
</div>

