<div class="img-fluid"" style="background-image: url(&quot;assets/img1.jpg&quot;); background-position: 50% 0px;">
        <!-- Promo Content -->
        <div class="container text-white u-ver-center u-content-space">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="text-center">
                <p class="h6 text-uppercase u-letter-spacing-sm mb-0">A beautiful Open Source Bootstrap 4 UI Kit!</p>
                <h1 class="display-2 display-md-1 u-font-accent font-weight-light">Stream <span class="d-none d-md-inline-block">-</span> UI Kit</h1>
                <a href="#js-scroll-to-section" class="text-uppercase text-white font-weight-bold u-font-size-75">Discover now</a>
                <span class="fa fa-angle-down d-block"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Promo Content -->
      






    <div class="row-content-center">
    	<div class="top-message conl-md-offset-3 col-md-6">
    		<h1>welcome  !!</h1>
    		<p>In ,</p>
            <p>you can share and exchange your opinions , inpressions , and emotions</p>
			<p>about varioius books!</p>
			<div class="btn-wrpper">
				<div class="row">
		<%=link_to"login",new_customer_session_path,class:"col-xs-8 btn btn-info"%>
				</div>
				<div class="row">
		<%=link_to"sign in",new_customer_registration_path,class:"col-xs-8 btn btn-success"%>
				</div>
			</div>
		</div>
	</div>

  </div>

