<div class="junbotron">
  <div class="container-fluid" style="background-image: url(&quot;assets/img1.jpg&quot;); ">
    <div class="row-brand justify-content-center text-center">
      <h1 class="display-2 display-md-1 u-font-accent font-weight-light">Protfolio <span class="d-none d-md-inline-block">-</span>mesta</h1>
    </div>
    <div class="btn-wrpper">
      <div class="row center-block">
        <%=link_to"login",new_customer_session_path,class:"col-md-4 btn btn-info"%>
      </div>
      <div class="row center-block">
        <%=link_to"sign in",new_customer_registration_path,class:"col-md-4 btn btn-success"%>
      </div>
    </div>
  </div>
</div>








