// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header-image{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  
}

.photo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:40px;
  }

