// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.line_container {
  padding: 0px 40px;
  overflow: hidden;
  max-width: 100%;
  margin:auto;
  background-color:#007bff54;
  font-size: 80%;
}

.line_title {
  padding: 15px;
  border-radius:10px;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
  background-color:#007bff7a;
}

  .line_contents {
    padding: 10px;
    overflow: hidden;
    line-height: 100%;
}
.scroll {
  height: 500px;
  overflow-y: scroll;
}

.line_message{
  margin:10px 0px 10px 50px;
  padding :10px 20px;
  background-color:white;
  border-radius:10px;
  height:auto;
}

.line_left{
 text-align:left;
}

.line_right{
text-align:right;
right:0px;

}

 .line_image{
 padding:0px;
 }