// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//チーム詳細画面
.row-title{
  padding:15px;
  background-color:#212529d1;
}

.team-name{
  font-size:40px;
  color:white;
  font-famiry:impact;
}